body {
  font-family: 'Roboto Mono', monospace;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

th {
    background: rgb(61, 60, 60);
    color: white;
}

input {
  padding: 5px;
  font-family: 'Roboto Mono', monospace;
  background: white;
  color: grey;
}

tr:hover {
  background-color: #999696;
  color: white;
}


#parent {
  text-align: center;
}

#child {
  display: inline-block;
}